<nav class="navbar navbar-expand-md navbar-light bg-light">
<div class="container">
    <div class="site-title">
        <a class="navbar-brand" href="/"><h1>Assignment 3</h1></a>
        <p id="navSubtitle">Bar Charts Galore</p>
    </div>
    <!--<a href="/dataAnalysis">Do Data Analysis</a>-->
</div>
</nav>
